<div class="row">
  	<div class="col-sm-12">
  		<ul class="list-inline">
      	{{#each characters as |char|}}
        		<li>
					{{#link-to 'authenticated.play' char}}
        			<button class="btn btn-default" ><span>{{char.name}} {{char.level}}</span></button>
					{{/link-to}}
        		</li>
      	{{/each}}
			{{#link-to 'authenticated.add-a-character'}}
    		<li><button class="btn btn-default">New</button></li>
			{{/link-to}}
		</ul>
	 </div>
</div>