<div class="row">
	<div class="col-sm-offset-4 col-sm-4 center panel panel-default">

		<div class="panel-heading">
			Login screen
		</div>
		<div class="panel-body">
			{{input type=text placeholder='Press enter when done' enter='signIn'}}
		</div>
	</div>
</div>
{{outlet}}
