<div class="row">
	<div class="col-sm-offset-4 col-sm-4 center panel panel-default">

		<div class="panel-heading">
			Login screen
		</div>
		<div class="panel-body">
			<form {{action "authenticate" on="submit"}}>
				<div>
					<label for="identification">E-mail</label><br />
					{{input value=identification placeholder="E-mail" type="text" }}
				</div>
				<div>
					<label for="password">Password</label><br />
					{{input value=password placeholder="password" type="text" }}
				</div>
				<div>
					<button type="submit">Log In </button>
				</div>
			</form>

		</div>
	</div>
</div>
{{outlet}}
