<h4>Map: "{{ name }}" </h4>

Width: {{input calue=mapWidth size="3"}}
Width: {{input calue=mapHeight size="3"}}

<table style="border: 1px solid gray;">
  {{#each rows as |rows|}}
  <tr>
    {{#each rows.columns as |cell|}}
         <td>{{cell.text}}</td>
    {{/each}}
  </tr>
  {{/each}}
</table>